Repository danieljancar/chorizo, pull requests merged in 2024-03, with the labels that each got.

#69 Change text color styling on all themes
  apps/course/src/app/features/auth/account/account.component.html
  apps/course/tsconfig.json
Labels: bug, UI/UX, area: course

#73 Setup FireCMS AdminUI and automate dev deployment process
  .firebaserc
  .github/workflows/dev-deploy.yml
  .github/workflows/triager.yml
  .gitignore
  .prettierignore
  README.md
  apps/admin-ui/README.md
  apps/admin-ui/index.html
  apps/admin-ui/package.json
  apps/admin-ui/public/logo.png
  apps/admin-ui/src/App.tsx
  apps/admin-ui/src/collections/courses/courses.tsx
  apps/admin-ui/src/collections/courses/subcollections/agenda.tsx
  apps/admin-ui/src/collections/courses/subcollections/documentation-chapters.tsx
  apps/admin-ui/src/collections/courses/subcollections/documentation-documents.tsx
  apps/admin-ui/src/collections/courses/subcollections/resources.tsx
  apps/admin-ui/src/collections/courses/subcollections/task-done.tsx
  apps/admin-ui/src/collections/courses/subcollections/tasks.tsx
  apps/admin-ui/src/collections/general/general-main.tsx
  apps/admin-ui/src/collections/users/users.tsx
  apps/admin-ui/src/config-example.ts
  apps/admin-ui/src/index.css
  apps/admin-ui/src/main.tsx
  apps/admin-ui/src/types/config.types.ts
  apps/admin-ui/src/vite-env.d.ts
  apps/admin-ui/tsconfig.json
  apps/admin-ui/tsconfig.node.json
  apps/admin-ui/vite.config.ts
  apps/admin-ui/yarn.lock
  apps/course/.firebaserc
  apps/course/angular.json
  apps/course/package.json
  apps/course/tsconfig.json
  assets/logo.png
  docs/BEST_PRACTICES.md
  docs/DEVELOPER_SETUP.md
  docs/FORMATTING.md
  docs/WORKFLOW.md
  firebase.json
  package-lock.json
  package.json
  yarn.lock
Labels: documentation, enhancement, architecture, area: adminui

#71 Enhance loading bars component with additional (optional) text
  apps/course/src/app/features/course/agenda/course-agenda.component.ts
  apps/course/src/app/features/home/homepage/markdown-renderer/about/homepage-about.component.html
  apps/course/src/app/shared/feedback/loading-bars/loading-bars.component.html
  apps/course/src/app/shared/feedback/loading-bars/loading-bars.component.ts
Labels: UI/UX, area: course

#77 Create course documentation page and fix ngx-markdown rendering
  apps/course/angular.json
  apps/course/projects/types/src/lib/course.types.ts
  apps/course/src/app/app.component.html
  apps/course/src/app/app.component.ts
  apps/course/src/app/app.config.ts
  apps/course/src/app/core/course-state.service.ts
  apps/course/src/app/core/course.service.ts
  apps/course/src/app/features/course/documentation/course-documentation.component.html
  apps/course/src/app/features/course/documentation/course-documentation.component.ts
  apps/course/src/app/features/course/documentation/navbar/course-documentation-navbar.component.html
  apps/course/src/app/features/course/documentation/navbar/course-documentation-navbar.component.scss
  apps/course/src/app/features/course/documentation/navbar/course-documentation-navbar.component.spec.ts
  apps/course/src/app/features/course/documentation/navbar/course-documentation-navbar.component.ts
  apps/course/src/app/features/course/introduction/course-introduction.component.html
  apps/course/src/app/features/home/homepage/markdown-renderer/homepage-markdown-renderer.component.html
  apps/course/src/app/shared/feedback/feedback-message/feedback-message.component.ts
  apps/course/src/app/styles/markdown.scss
  scripts/.gitkeep
Labels: enhancement, UI/UX, architecture, area: course, area: adminui

#85 Create course resources page
  apps/admin-ui/src/collections/courses/courses.tsx
  apps/admin-ui/src/collections/courses/subcollections/documentation-chapter.tsx
  apps/admin-ui/src/collections/courses/subcollections/documentation-document.tsx
  apps/admin-ui/src/collections/courses/subcollections/resources.tsx
  apps/course/package-lock.json
  apps/course/package.json
  apps/course/projects/types/src/lib/course/course-documentation.types.ts
  apps/course/projects/types/src/lib/course/course-resources.types.ts
  apps/course/projects/types/src/lib/course/course.types.ts
  apps/course/projects/types/src/public-api.ts
  apps/course/src/app/core/course-state.service.ts
  apps/course/src/app/core/course.service.ts
  apps/course/src/app/core/util/file-download.service.spec.ts
  apps/course/src/app/core/util/file-download.service.ts
  apps/course/src/app/features/course/agenda/course-agenda.component.ts
  apps/course/src/app/features/course/documentation/course-documentation.component.ts
  apps/course/src/app/features/course/documentation/navbar/course-documentation-navbar.component.ts
  apps/course/src/app/features/course/introduction/course-introduction.component.ts
  apps/course/src/app/features/course/resources/course-resources.component.html
  apps/course/src/app/features/course/resources/course-resources.component.ts
  apps/course/src/app/features/course/resources/skeletons/course-skeleton-resources/course-skeleton-resources.component.spec.ts
  apps/course/src/app/features/course/resources/skeletons/course-skeleton-resources/course-skeleton-resources.component.ts
  apps/course/src/app/features/course/tasks/course-tasks.component.ts
  apps/course/src/app/features/home/courses/courses.component.ts
  apps/course/src/app/features/home/homepage/latest-courses/homepage-latest-courses.component.ts
  apps/course/src/app/shared/navigation/navbar-course/navbar-course.component.ts
  cors.json
  firebase.json
Labels: enhancement, UI/UX, architecture, area: course, area: adminui
